<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:lang="http://www.springframework.org/schema/lang"

       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"


       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/lang
        http://www.springframework.org/schema/lang/spring-lang.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="magician" class="com.springinaction.springidol.mindReaders.MagicianMindReader"/>
    <bean id="volunteer" class="com.springinaction.springidol.mindReaders.Volunteer"/>

    <aop:config>
        <aop:aspect ref="magician">
            <aop:pointcut id="thinking" expression="execution(* com.springinaction.springidol.mindReaders.Thinker.thinkOfSomething(String))
        and args(thoughts)"/>

            <aop:before
                    pointcut-ref="thinking"
                    method="interceptThoughts"
                    arg-names="thoughts"/>

        </aop:aspect>
    </aop:config>


    <!--

        <bean id="audience"
              class="com.springinaction.springidol.audience.Audience"/>


        <aop:config>
            <aop:aspect ref="audience">
                <aop:pointcut id="performance2" expression=
                        "execution(* com.springinaction.springidol.performers.Performer.perform(..))"/>
                &lt;!&ndash; Совет, выполняемый и до, и после &ndash;&gt;
                <aop:around
                        pointcut-ref="performance2"
                        method="watchPerformance" />
            </aop:aspect>
        </aop:config>
    -->

    <!--

        <aop:config>
            <aop:aspect ref="audience">

                <aop:pointcut id="performance" expression=
                        "execution(* com.springinaction.springidol.performers.Performer.perform(..))"/>


                <aop:before pointcut-ref="performance"
                            method="takeSeats"/>
                <aop:before pointcut-ref="performance"
                            method="turnOffCellPhones"/>
                <aop:after-returning pointcut-ref="performance"
                                     method="applaud"/>
                <aop:after-throwing pointcut-ref="performance"
                                    method="demandRefund"/>
            </aop:aspect>
        </aop:config>

    -->

    <context:annotation-config/>
    <context:component-scan base-package="com.springinaction.springidol"/>


    <!-- <context:component-scan
             base-package="com.springinaction.springidol" />-->

    <!-- xmlns:aop="springframework.org/schema/aop"
           xmlns:flow="springframework.org/schema/webflow-config"-->


    <!--

        <bean id="guitar" class="com.springinaction.springidol.instruments.Guitar"/>
        <bean id="eddie_2" class="com.springinaction.springidol.performers.Instrumentalist" p:song="Opa2" p:instrument-ref="guitar"/>

    -->


    <!--

        <bean id="duke" class="com.springinaction.springidol.jugglers.Juggler"/>
    -->


    <!--<bean id="sonnet29" class="com.springinaction.springidol.poems.Sonnet29"/>-->

    <!--
        <bean id="poeticDuke" class="com.springinaction.springidol.jugglers.PoeticJuggler" autowire="constructor"/>

      -->
    <!--

                <bean id="theStage"
                      class="com.springinaction.springidol.stage.Stage"
                      factory-method="getInstance"/>
            -->
    <!--

                <bean id="saxophone" class="com.springinaction.springidol.instruments.Saxophone"/>
            -->
    <!--

        <bean id="piano" class="com.springinaction.springidol.instruments.Piano"/>

    -->

    <!--
    <bean id="hank" class="com.springinaction.springidol.performers.OneManBand">
        <property name="instruments">
            <map>
                <entry key="Saxophone" value-ref="#{saxophone}"/>
                <entry key="Piano" value-ref="piano"/>
                <entry key="Saxophone" value-ref="saxophone"/>
            </map>
        </property>
    </bean>
-->

    <!--
    <bean id="carl"
          class="com.springinaction.springidol.performers.Instrumentalist">
        <property name="song" value="#{kenny.song}"/>
    </bean>
-->

    <!--
    <util:list id="cities">
        <bean class="com.springinaction.springidol.cites.City"
              p:name="Chicago" p:state="IL" p:population="2853114"/>
        <bean class="com.springinaction.springidol.cites.City"
              p:name="Atlanta" p:state="GA" p:population="537958"/>
        <bean class="com.springinaction.springidol.cites.City"
              p:name="Dallas" p:state="TX" p:population="1279910"/>
        <bean class="com.springinaction.springidol.cites.City"
              p:name="Houston" p:state="TX" p:population="2242193"/>
        <bean class="com.springinaction.springidol.cites.City"
              p:name="Odessa" p:state="TX" p:population="90943"/>
        <bean class="com.springinaction.springidol.cites.City"
              p:name="El Paso" p:state="TX" p:population="613190"/>
        <bean class="com.springinaction.springidol.cites.City"
              p:name="Jal" p:state="NM" p:population="1996"/>
        <bean class="com.springinaction.springidol.cites.City"
              p:name="Las Cruces" p:state="NM" p:population="91865"/>
    </util:list>
-->

    <!--
    <bean id="city" class="com.springinaction.springidol.cites.City">
        <property name="name" value="#{cities[3].![name]}"></property>
        <property name="population" value="123"></property>
        <property name="state" value="456"></property>
    </bean>
-->

    <!--
    <bean id="baseSaxophonist"
          class="com.springinaction.springidol.performers.Instrumentalist"
          abstract="true">
        <property name="instrument" ref="saxophone"/>
        <property name="song" value="Jingle Bells"/>
    </bean>
    <bean id="kenny" parent="baseSaxophonist"/>
    <bean id="david" parent="baseSaxophonist"/>
    <bean id="vasya" parent="baseSaxophonist" p:song="Macarena"/>
-->


    <!--
    <bean id="basePerformer" abstract="true">
        <property name="song" value="Somewhere Over the Rainbow"/>
    </bean>
-->


    <!--
    <bean id="stevie"
          class="com.springinaction.springidol.performers.Instrumentalist"
          parent="basePerformer">
        <property name="instrument" ref="piano"/>
    </bean>
-->

    <!--
    <bean id="tigerReplacer" class="com.springinaction.springidol.magicBox.TigerReplacer"/>

-->
    <!--
    <bean id="magicBox" class="com.springinaction.springidol.magicBox.MagicBoxImpl">
        <replaced-method name="getContents" replacer="tigerReplacer"/>
    </bean>
-->


    <!--<bean id="harry" class="com.springinaction.springidol.performers.Magician"
          p:magicWords="Bippity boppity boo"
          p:magicBox-ref="magicBox"/>
-->
    <!--   <bean id="igor"
             class="com.springinaction.springidol.performers.Instrumentalist">
           <lookup-method name="getInstrument" bean="saxophone" />
           <property name="song" value="Greensleeves" />
       </bean>-->
    <!--

        <bean id="pianist"
              class="com.springinaction.springidol.performers.Instrumentalist"
              abstract="true">
            <property name="song" value="Chopsticks"/>
            <property name="instrument">
                <bean class="com.springinaction.springidol.instruments.Piano"/>
            </property>
        </bean>
    -->
    <!--

        <bean id="guitar" class="com.springinaction.springidol.instruments.Guitar"/>
        <bean id="hammereddulcimer" class="com.springinaction.springidol.instruments.HammeredDulcimer"/>

    -->
    <!--
        <bean id="contact"
              class="com.springinaction.springidol.contact.Contact">
            <property name="phoneNumber" value="888-555-1212"/>
        </bean>

        <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
            <property name="customEditors">
                <map>
                    <entry key="com.springinaction.springidol.contact.PhoneNumber">
                        <bean id="phoneEditor"
                              class="com.springinaction.springidol.contact.PhoneEditor">
                        </bean>
                    </entry>
                </map>
            </property>
        </bean>-->


    <!--    <bean id="propertyConfigurer"
              class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
            <property name="locations">
                <list>
                    <value>jdbc.properties</value>
                    <value>security.properties</value>
                    <value>application.properties</value>
                </list>
            </property>
        </bean>

        <bean id="dataSource"
              class="org.springframework.jdbc.datasource.DriverManagerDataSource">
            <property name="url" value="${database.url}" />
            <property name="driverClassName"
                      value="${database.driver}" />
            <property name="username"
                      value="${database.user}" />
            <property name="password"
                      value="${database.password}" />
        </bean>-->
    <!--

        <bean id="kenny2"
              class="com.springinaction.springidol.performers.Instrumentalist">
            <property name="song" value="Jingle Bells"/>
            <property name="instrument" ref="saxophone"/>
        </bean>
    -->


</beans>